.flex() {
    display: flex;
}

.flex-center() {
    .flex();
    justify-content: center;
    align-items: center;
}
.flex-vertical-center() {
    .flex();
    align-items: center;
}

.flex-horizontal-center() {
    .flex();
    justify-content: center;
}

.flex-row-between() {
    .flex();
    justify-content: space-between;
    align-items: center;
}

.overflow-hidden () {
    overflow: hidden;
}
.overflow-x {
    .overflow-hidden();
    overflow-x: auto;
}
.overflow-y {
    .overflow-hidden();
    overflow-y: auto;
}

.text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-line(@num) {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @num;
    overflow: hidden;
}

.clearfix() {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.table-params () {
    position: relative;
    margin: 20px 0;
    .clearfix();
    .params-box {
        position: relative;
        height: 28px;
        margin: 0 20px 10px 0;
        float: left;
        .flex-vertical-center();
        .params-label {
            margin-right: 10px;
        }
        .params-value {
            width: 180px;
            height: 28px;
            .ant-calendar-picker-input {
                height: 28px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    .params-button {
        width: 80px;
        height: 28px;
        float: left;
    }
}