@mixin flex() {
    display: flex;
}

@mixin flex-center() {
    @include flex();
    justify-content: center;
    align-items: center;
}
@mixin flex-vertical-center() {
    @include flex();
    align-items: center;
}

@mixin flex-horizontal-center() {
    @include flex();
    justify-content: center;
}

@mixin flex-row-between() {
    @include flex();
    justify-content: space-between;
    align-items: center;
}

@mixin overflow-hidden () {
    overflow: hidden;
}
@mixin overflow-x {
    @include overflow-hidden;
    overflow-x: auto;
}
@mixin overflow-y {
    @include overflow-hidden;
    overflow-y: auto;
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-overflow-line($num) {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}

@mixin clearfix() {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}